.search-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  
  form {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 15px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    width: 300px;
    background-color: rgb(69, 69, 69);
    color: rgb(210, 56, 5);
  }
  
  input[type="text"]:focus {
    outline: none;
  }
  
  button[type="submit"] {
    padding: 15px 15px;
    background-color: rgb(252, 64, 4);
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  button[type="submit"] img {
    height: 15px;
    width: 16px;
    max-height: 48px;
  }
  
  button[type="submit"]:active {
    background-color: rgb(210, 56, 5);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
    padding-bottom: 65px;
  }
  
  .grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .grid-item img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
  }
  
  .text {
    color: rgb(33, 33, 33);
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    font-family: "Bebas Neue", cursive;
  }
  
  .grid-item:nth-child(1) .overlay {
    background-color: rgba(255, 0, 0, 0.5);
  }
  
  .grid-item:nth-child(2) .overlay {
    background-color: rgba(0, 255, 0, 0.5);
  }
  
  .grid-item:nth-child(3) .overlay {
    background-color: rgba(0, 0, 255, 0.5);
  }
  
  .grid-item:nth-child(4) .overlay {
    background-color: rgba(255, 255, 0, 0.5);
  }
  
  .grid-item:nth-child(5) .overlay {
    background-color: rgba(255, 0, 255, 0.5);
  }
  
  .grid-item:nth-child(6) .overlay {
    background-color: rgba(0, 255, 255, 0.5);
  }
  
  .grid-item:nth-child(7) .overlay {
    background-color: rgba(7, 112, 5, 0.5);
  }
  .grid-item:nth-child(8) .overlay {
    background-color: rgba(252, 64, 4, 0.5);
  }
  
  .overlay,
  .text {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .grid-item:hover .overlay,
  .grid-item:hover .text {
    opacity: 0.8;
  }
  
  /* ----------------------------------------- */